body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  cursor: pointer;
  margin: 0%;
  background: none;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0.5em;
  border-radius: 0%;
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.311);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
  border-radius: 50%;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: inherit;
}

#content {
  position: absolute;
  top: 0;
}

.popup {
  position: absolute;
  width: 30vw;
  height: 50vh;
  left: 50%;
  top: 25vh;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6d465d5), to(#fd9f85c5));
  background-image: linear-gradient(180deg, #f6d465d5 0%, #fd9f85c5 100%);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
  padding: 0.5em;
  overflow: hidden;
  resize: both;
}

.popup .popheader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .popheader .poptitle {
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
}

.popup span {
  max-width: 100%;
  resize: unset;
  overflow: hidden;
}

.popuptodo {
  position: absolute;
  width: 30vw;
  height: 50vh;
  left: 20%;
  top: 25vh;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6d465d5), to(#fd9f85c5));
  background-image: linear-gradient(180deg, #f6d465d5 0%, #fd9f85c5 100%);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.099);
  padding: 0.5em;
  overflow: hidden;
  resize: both;
}

.popuptodo .popheader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popuptodo .popheader .poptitle {
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
}

.popuptodo span {
  max-width: 100%;
  resize: unset;
  overflow: hidden;
}

.popuptodo .task {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 1rem;
}

.popuptodo .task button {
  padding: 0;
  margin: 0;
}

.popuptodo .task button:hover {
  padding: 0;
  font-size: 1.1rem;
}

.minimized {
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#wallpaperswap {
  position: absolute;
  top: 10vh;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wallpaperswap button {
  background-color: rgba(255, 255, 255, 0.293);
  border-radius: 50%;
}

iframe {
  width: 100%;
  height: 100%;
}

.musicminimized {
  height: 0em;
  width: 0em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=general.css.map */